textarea {
    width: 700px;
    height: 100px;
    resize: none;
}

.activeShift {
    background-color: aqua;
}

.active {
    border: 1px solid red !important;
    background-color: aqua;
    border-radius: 10px;
}

.language {
    margin: 1% 50%;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

.textarea {
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-writing-mode: horizontal-tb !important;
}

.key-def {
    margin: 3px;
    width: 53px;
    height: 30px;
    border: 1px solid black;
    cursor: pointer;
    align-items: center;
    text-align: center;
}

.unselectable {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    not supported by any browser */
}

#keyboard {
    width: 920px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

div[data="8"] {
    width: 110px;
}

div[data="9"] {
    width: 93px;
}

div[data="32"] {
    width: 295px;
}

div[data="16"] {
    width: 112px;
}

div[data="228"] {
    width: 112px;
}

div[data="20"] {
    width: 100px;
}

div[data="220"] {
    width: 70px;
}

div[data="13"] {
    width: 124px;
}